body {
    width: 1600px;
}

header {
    position: relative;
    width: 1600px;
    height: 30px;
    background-color: rgb(214, 211, 207);
}

.address {
    position: absolute;
    left: 3%;
    top: 4px;
}

.pictureWord {
    font-family: 'icomoon';
    font-size: medium;
    color: red;
}

.ul {
    position: absolute;
    top: 1px;
    left: 900px;
    font-size: small;
    float: right;
}


.ul>li {
    float: left;
    height: 13px;
    margin: 9px 0px;
    padding: 0px 5px;
    line-height: 10px;
    border-right: 2px rgb(189, 184, 184) solid;

}


.biaoQian {
    float: right;
    width: 7px;
    height: 7px;
    border-top: 2px solid;
    border-right: 2px solid;
    margin-left: 4px;
    transform: rotate(135deg);
}

.woDeJingDong {
    position: absolute;
    top: 30px;
    width: 400px;
    display: none;
    height: 150px;
    background-color: rgba(123, 119, 119, 0.5);
}

.ul .woJing .woDeJingDong ul {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 13px;
    color: #fff;
}

.ul .woJing .woDeJingDong .one {
    border-bottom: 1px solid rgb(233, 231, 231);
}

.ul .woJing .woDeJingDong ul li {
    padding-top: 7px;
    padding-left: 7px;
}

ul .woJing:hover .woDeJingDong {
    display: block;
    z-index: 3;
}

/* 搜素篇 */

.search {
    display: block;
    width: 100%;
}

img {
    float: left;
    height: 120px;
    padding-left: 200px;
}

.center {
    position: relative;
    float: left;
    width: 1000px;
    height: 177px;
}

.center input {
    position: absolute;
    top: 10px;
    left: 80px;
    width: 595px;
    height: 36px;
    border: 2px solid red;
    margin-top: 10px;
    outline: none;
}

.center .search {
    font-family: 'icomoon';
    font-size: large;
    position: absolute;
    top: 22px;
    left: 605px;
    width: 70px;
    height: 34px;
    background-color: red;
    color: #fff;
    border: 2px solid red;
}

.center .xiangJi {
    font-family: 'icomoon';
    font-size: 20px;
    position: absolute;
    top: 27px;
    left: 570px;
    background-color: #fff;
    border: #fff;
}

.center .right {
    position: absolute;
    top: 20px;
    right: 150px;
    width: 150px;
    height: 38px;
    border: 1px solid rgb(194, 191, 191);
}

.center .right .one {
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 38px;
    color: red;
    padding-left: 20px;
}

.center .right .two {
    position: absolute;
    top: 10px;
    font-size: 13px;
    color: red;
    padding-left: 15px;
}

.center .right .three {
    position: absolute;
    top: 3px;
    left: 30px;
    color: #fff;
    line-height: 13px;
    width: 15px;
    height: 13px;
    background-color: red;
    border-radius: 8px;
    padding-left: 4px;
}

.center .right .four {
    position: absolute;
    top: 40px;
    left: 0px;
    color: #fff;
    width: px;
    height: 50px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.center .right .four::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.4);
}

.center .right:hover .four {
    display: block;
}

.form-bottom-content ul {
    position: absolute;
    top: 70px;
    left: 80px;
    width: 751px;
    height: 61px;
}

.form-bottom-content ul li,
.nav-top-content ul li {
    float: left;
    padding-left: 8px;
}


.nav-top-content ul {
    position: absolute;
    top: 140px;
    left: 80px;
}

.nav-top-content ul li a {
    font-weight: normal;
    font-size: 18px;

}

.nav-top-content ul .first a,
.nav-top-content ul .second a {
    color: red !important;
    font-weight: bold;
}

/* .nav .all .leftNav section:last-of-type(){
    position: relative;
} */
.nav .all .leftNav section .vip {
    position: absolute;
    right: 0;
    top: 0;
    width: 48%;
    height: 20%;
    background-color: #ffffff;
}
.nav .all .leftNav section .vip .left{
    float: left;
    width: 30%;
    height: 100%;
    
}
.nav .all .leftNav section .vip .left img{
    position: absolute;
    left: 20px;
    top: 10px;
    height:40px;
    padding-left: 0;
    border: solid 2px #f4f5f5;
    border-radius: 40px;
}
.nav .all .leftNav section .vip .neWealth,
.nav .all .leftNav section .vip .plusVip{
    position: absolute;
    bottom: 3px;
    left: 20px;
    width: 65px;
    height: 25px;
    color: #faffda;
    line-height: 25px;
    text-align: center;
    background-color: #e1251b;
    border-radius: 13px;
}
.nav .all .leftNav section .vip .plusVip{
    position: absolute;
    left: 100px;
    bottom: 3px;
    background-color: #363634;
}
.nav .all .leftNav section .vip .neWealth::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 65px;
    height: 25px;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.nav .all .leftNav section .vip .neWealth:hover::after{
    display: block;
}
.nav .all .leftNav section .vip .plusVip:hover{
    background-color: red;
}
